html, body {
    height: 100%;
}

body {
    background-color: #eaeaec;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #161616;
}

.main-content {
    flex: 1;
    margin-top: 20px;
}

.footer {
    background-color: #161616;
    min-height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article {
    margin-bottom: 20px;
}

.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 70px;
    width: 100%;
    max-width: 500px;
}

.category__color {
    height: 100%;
    width: 5px;
}

.category__title {
    font-size: x-large;
}

.user__name {
    margin-right: 0.5em !important;
    color: rgba(255,255,255,.75) !important;
}

.btn-header {
    margin: 5px;
}