{% extends 'template/base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Articles de la catégorie {{ category.name }}</h1>
        <div class="articles">
            {% if articles is not empty %}
                {% for article in articles if article.active %}
                    <div class="card article">
                        <div class="card-body">
                            <h5 class="card-title">{{ article.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ article.date |date("j F Y") }}</h6>
                            <p class="card-text">{{ article.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h5>Pas d'article dans cette catégorie ...</h5>
            {% endif %}
        </div>
    </div>
{% endblock %}
